.carousel-wrapper {
    max-width: 900px;
    max-height: 900px;
    margin: auto;
    text-align: center;
}


.carousel-item > img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

/* .carousel .slide img {
    width: 80%;
    vertical-align: top;
    border: 0; */