.carousel-wrapper {
    max-width: 900px;
    max-height: 900px;
    text-align: center;
    margin: 0 auto;
}

.carousel-item {
    margin-bottom: -15px;
}

.carousel-item > img {
    max-width: 60%;
    max-height: 40%;
    object-fit: cover;
}

p {
    font-weight: 400;
    justify-content:center;
}

/* .carousel .slide img {
    width: 80%;
    vertical-align: top;
    border: 0; */