body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sign{
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.login{
  background:aqua;
  color: black;
  margin-top: 6%;
  width: 50%;
  margin-left: 25%;
  
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
